@import "tailwindcss";

*::-webkit-scrollbar{
    display: none;
}

.primary-bg{
    background-color: #1E1F23;
}
.secondary-bg{
    background-color: #2E2F39;
}
.third-bg{
    background-color: #8ba09f;
    color:black;
}

#toggleBtn::after {
  content: "°C";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color:#8ba09f;
  color: black;
  transition: left 0.3s ease;
}

input[type="checkbox"]:checked + #toggleBtn::after {
  left: 50%;
  content: "°F";
}
